/***
  google-webfonts-helper: A Hassle-Free Way to Self-Host Google Fonts
  Web page: https://gwfh.mranftl.com/fonts
***/

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    local("Inter Regular"),
    local("Inter-Regular"),
    url("/fonts/Inter/inter-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:
    local("Inter Bold"),
    local("Inter-Bold"),
    url("/fonts/Inter/inter-v20-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src:
    local("Lexend Deca Regular"),
    local("Lexend-Deca-Regular"),
    url("/fonts/Lexend Deca/lexend-deca-v25-latin-regular.woff2")
      format("woff2");
}
